h1 {
    font-family: rollerscript-smooth, sans-serif;
    font-weight: 400;
    font-style: normal;
}

.jumbotron {
    font-family: viktor-script, sans-serif;
    font-weight: 400;
    font-style: normal;
}